{% extends "base.html" %}

{% block content %}
    <h2>{{ pokemon['name'].capitalize() }}</h2>
    <img src="{{ pokemon['sprites']['front_default'] }}" alt="{{ pokemon['name'] }}">
    <p><strong>Altura:</strong> {{ pokemon['height'] }} dm</p>
    <p><strong>Peso:</strong> {{ pokemon['weight'] }} hg</p>
    <h3>Habilidades</h3>
    <ul>
        {% for ability in pokemon['abilities'] %}
        <li>{{ ability['ability']['name'].capitalize() }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Volver a la lista</a>
{% endblock %}
